.App {
  text-align: center;
}

body{
  background-color: #ececec;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.refresh-button {
   margin-top: 15px;
   margin-bottom: 15px;
   margin-right: 10px;
}
.data{
  margin-left: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4,24%);
  grid-gap: 10px; 
}
.add-button{
  margin-top: -5px;
  margin-left: 5px;

}
.input-add {
  border-radius: 6px;
  width: 40%;
  margin-top: 15px;
  height: 40px;
}
.close-button{
  margin-top: 5px;
  margin-right: 5px;
}
.input-search { 
  width: 100%;
  height: 40px;
  border-radius: 6px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.nav {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
  top: 30px;
  right: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 600px) {
  .data {
    margin-left: 0px;
    width: 100%;
    display: grid;
    grid-template-rows: auto auto auto auto;
  grid-template-columns: none;

  }
  .input-add{
    width: 70%;
  }
}
